<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de coordinadores</title>
</head>
<body>
    {% load tz %}
    <a href="{% url 'registrar_coordinador' %}">Agregar nuevo coordinador</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>N° DNI</th>
                <th>Fecha de alta</th>
                <th>Activo</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for coordinador in coordinadores %}
            <tr>
                <td>{{coordinador.id}}</td>
                <td>{{coordinador.nombre}}</td>
                <td>{{coordinador.apellido}}</td>
                <td>{{coordinador.numero_documento}}</td>
                <td>{{coordinador.fecha_alta|localtime|date:"d/m/Y H:i"}}</td>
                {% if coordinador.activo %}
                    <td>Si</td>
                    <td><a href="{% url 'desactivar_coordinador' coordinador.id %}">Desactivar</a></td>
                {% else %}
                    <td>No</td>
                    <td><a href="{% url 'activar_coordinador' coordinador.id %}">Activar</a></td>
                {% endif %}
                <td><a href="{% url 'modificar_coordinador' coordinador.id %}">Modificar</a></td>               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>