<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Clientes</title>
</head>

<body>
    <a href="{% url 'registrar_cliente' %}">Agregar nuevo cliente</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Activo</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>     
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                {% if cliente.activo %}
                    <td>Si</td>
                    <td><a href="{% url 'desactivar_cliente' cliente.id %}">Desactivar</a></td>
                {% else %}
                    <td>No</td>
                    <td><a href="{% url 'activar_cliente' cliente.id %}">Activar</a></td>
                {% endif %}
                <td><a href="{% url 'modificar_cliente' cliente.id %}">Modificar</a></td>    
            {% endfor %}
            </tr>
        </tbody>
    </table>
</body>

</html>