<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Empleados</title>
</head>
<body>
    <a href="{% url 'registrar_empleado' %}">Agregar nuevo empleado</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Legajo</th>
                <th>Activo</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado.id}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.numero_legajo}}</td>                
                {% if empleado.activo %}
                    <td>Si</td>
                    <td><a href="{% url 'desactivar_empleado' empleado.id %}">Desactivar</a></td>
                {% else %}
                    <td>No</td>
                    <td><a href="{% url 'activar_empleado' empleado.id %}">Activar</a></td>
                {% endif %}
                <td><a href="{% url 'modificar_empleado' empleado.id %}">Modificar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>