<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Empleado</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="id_nombre">Nombre :</label>
        <input type="text" name="nombre" value="{{empleado.nombre}}">
        <br>
        <label for="id_apellido">Apellido :</label>
        <input type="text" name="apellido" value="{{empleado.apellido}}">
        <br>
        <label for="id_numerolegajo">Numero de Legajo</label>
        <input type="number" name="numero_legajo" value="{{empleado.numero_legajo}}">
        <br>
        <button type="submit">Guardar Modificacion</button>
    </form>
    <div>
        <a href="{% url 'listado_empleados' %}">Volver a listado de empleados</a>
    </div>
</body>
</html>