<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Coordinador</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="id_nombre">Nombre :</label>
        <input type="text" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="nombre" value="{{coordinador.nombre}}">
        <br>
        <label for="id_apellido">Apellido :</label>
        <input type="text" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="apellido" value="{{coordinador.apellido}}">
        <br>
        <label for="id_numero_documento">DNI</label>
        <input type="number" required name="numero_documento" value="{{coordinador.numero_documento}}">
        <br>
        <button type="submit">Guardar Modificacion</button>
    </form>
    <div>
        <a href="{% url 'listado_coordinadores' %}">Volver a listado de coordinadores</a>
    </div>
</body>
</html>