<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar reserva de Servicio</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <label for="id_fecha_creacion">Fecha de creación</label>
        <input type="datetime-local" required min="{{fecha_actual}}" value="{{reserva_servicio.fecha_creacion}}" name="fecha_creacion" id="id_fecha_creacion">
        <br>
        <label for="id_fecha_reserva">Fecha de reserva</label>
        <input type="datetime-local" required min="{{fecha_actual}}" value="{{reserva_servicio.fecha_reserva}}" name="fecha_reserva" id="id_fecha_reserva">
        <br>
        <label>Cliente</label>
        <select name="cliente">
            {% for cliente in clientes %}
                {% if reserva_servicio.cliente.id == cliente.id %}
                    <option value="{{cliente.id}}" selected>{{cliente.nombre}} {{cliente.apellido}}</option>
                {% else %}
                    <option value="{{cliente.id}}">{{cliente.nombre}} {{cliente.apellido}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label>Responsable</label>
        <select name="responsable">
            {% for responsable in responsables %}
                {% if reserva_servicio.responsable.id == responsable.id %}
                    <option value="{{responsable.id}}" selected>{{responsable.nombre}} {{responsable.apellido}}</option>
                {% else %}
                    <option value="{{responsable.id}}">{{responsable.nombre}} {{responsable.apellido}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label>Empleado</label>
        <select name="empleado" id="">
            {% for empleado in empleados %}
                {% if reserva_servicio.empleado.id == empleado.id %}
                    <option value="{{empleado.id}}" selected>{{empleado.nombre}} {{empleado.apellido}}</option>
                {% else %}
                    <option value="{{empleado.id}}">{{empleado.nombre}} {{empleado.apellido}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label>Servicio</label>
        <select name="servicio">
            {% for servicio in servicios %}
                {% if reserva_servicio.servicio.id == servicio.id %}
                    <option value="{{servicio.id}}" selected>{{servicio.nombre}}</option>
                {% else %}
                    <option value="{{servicio.id}}">{{servicio.nombre}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label for="id_precio">Precio</label>
        <input type="number" required name="precio" value="{{reserva_servicio.precio}}" id="id_precio">
        <br>
        <button type="submit">Modificar reserva</button>
    </form>
    <a href="{% url 'listado_reservas_de_servicios' %}">Volver al listado de Reservas</a>
</body>

</html>