<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar un nuevo Empleado</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="id_nombre">Nombre :</label>
        <input type="text" name="nombre" id="id_nombre">
        <br>
        <label for="id_apellido">Apellido :</label>
        <input type="text" name="apellido" id="id_apellido">
        <br>
        <label for="id_numerolegajo">Numero de Legajo</label>
        <input type="number" name="numero_legajo" id="id_numerolegajo">
        <br>
        <button type="submit">Agregar Cliente</button>
    </form>
    <div>
        <a href="{% url 'listado_empleados' %}">Volver a listado de empleados</a>
    </div>
</body>
</html>